# OCI Credentials
config/config.json
config/private_key.pem
*.pem
API key/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS
.DS_Store
.idea/
.vscode/
hunter.log
hunter.log
hunter.log
config/config.json
*.pem
